<ion-header>
  <ion-toolbar>
    <ion-title>Mis Pedidos</ion-title>
    <ion-buttons slot="end">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home-cliente"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item >
      <ion-label><strong>No. Entrega</strong></ion-label>
      <ion-label><strong>Entregado?</strong></ion-label>
      <ion-label><strong>No. Factura</strong></ion-label>
    </ion-item>
    <ion-item  *ngFor="let pedido of misPedidos">
      <ion-label>{{pedido.idEntrega}}</ion-label>
      <ion-label *ngIf="pedido.entregado == 0">No</ion-label>
      <ion-label *ngIf="pedido.entregado == 1">Si</ion-label>
      <ion-label>{{pedido.factura_id_factura}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
