.ion-color-favorite  {
    --ion-color-favorite:red;
    --ion-color-favorite-rgb: red;
    --ion-color-favorite-contrast: red;
    --ion-color-favorite-contrast-rgb: red;
    --ion-color-favorite-shade:red;
    --ion-color-favorite-tint:red;
  }