<ion-toolbar color="primary">
  <ion-buttons slot="primary">
    <ion-button (click)="modificarPerfil()">
      <ion-icon slot="icon-only" name="md-person"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Hola, {{nombre}}</ion-title>
</ion-toolbar>
<ion-content padding>
  <ion-item>
    <ion-label position="floating">Telefono</ion-label>
    <ion-input></ion-input>
    <ion-icon name="eye" slot="end"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>Facturar a:</ion-label>
    <ion-select #mySelect [value]="currentFactura" [selectedText]="currentPago" (ionChange)="selectChanged(mySelect.value)">
      <ion-select-option *ngFor="let mPago of modoDePago" [selected]="mPago === currentPago">{{ mPago }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">NIT</ion-label>
    <ion-input></ion-input>
    <ion-icon name="eye" slot="end"></ion-icon>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Dirección exacta</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label>Modo de Pago</ion-label>
    <ion-select #mySelect [value]="currentPago" [selectedText]="currentPago" (ionChange)="selectChanged(mySelect.value)">
      <ion-select-option *ngFor="let mPago of modoDePago" [selected]="mPago === currentPago">{{ mPago }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Numero de tarjeta</ion-label>
    <ion-input></ion-input>
    <ion-icon name="eye" slot="end"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nombre en tarjeta</ion-label>
    <ion-input></ion-input>
    <ion-icon name="body-outline"></ion-icon>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-label position="floating">Mes/año</ion-label>
          <ion-input></ion-input>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-label position="floating">Código de seguridad</ion-label>
          <ion-input></ion-input>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-label>Método de Envío</ion-label>
    <ion-select #mySelect [value]="currentEnvio" [selectedText]="currentEnvio" (ionChange)="selectChanged(mySelect.value)">
      <ion-select-option *ngFor="let mEnvio of metodoDeEnvio" [selected]="mEnvio === currentEnvio">{{ mEnvio }}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>